.joinSection {
  padding: 40px 2rem 44px;
  background: var(--jiuwen-bg-base);
}

.joinTitle {
  text-align: center;
}

.joinSubtitle {
  font-size: 0.9rem;
  line-height: 1.7;
  color: var(--jiuwen-text-secondary);
  margin-bottom: 24px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: var(--jiuwen-text-primary);
}

.boxesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 100%;
  margin: 0 auto;
  align-items: start;
}

.box {
  background-color: var(--jiuwen-bg-secondary);
  border-radius: 8px;
  padding: 24px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.box:first-child {
  justify-self: start;
}

.box:last-child {
  justify-self: end;
}

.boxContent {
  align-items: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imageWrapper {
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
  aspect-ratio: 500 / 270;
}

.boxImage {
  width: 100%;
  border-radius: 8px;
  height: auto;
  max-height: 270px;
  max-width: 500px;
  aspect-ratio: 500 / 270;
  object-fit: cover;
}

.boxTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--ifm-color-text-primary);
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.boxDescription {
  color: var(--ifm-color-text-secondary);
  font-size: 0.9375rem;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.joinBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: auto;
  padding-top: 20px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.joinBtn {
  background-color: var(--jiuwen-primary);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 12;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    
}

.joinBtn:hover {
  background-color: var(--jiuwen-primary-hover);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.joinViewMoreResults {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.9375rem;
  color: var(--ifm-color-text-secondary);
  cursor: pointer;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.joinViewMoreResults:hover {
  color: var(--jiuwen-primary);
}

@media (max-width: 770px) {
  .boxesContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .joinBtn {
    font-size: 0.875rem;
  }

  .joinViewMoreResults {
    font-size: 0.82rem;
  }

  .box {
    max-width: 100%;
  }

  .boxTitle {
    font-size: 1.125rem;
  }
  
  .boxDescription {
    font-size: 0.875rem;
  }
}
